# Convert DJA.csv

Convert format from https://www.measuringworth.com/datasets/DJA/result.php to yahoo finance type format

In [1]:
# use future imports for python 3.x forward compatibility
from __future__ import print_function
from __future__ import division
from __future__ import absolute_import

In [2]:
# other imports
from datetime import datetime
import pandas as pd
import os

pd.options.mode.chained_assignment = None  # default='warn'
pd.set_option('display.max_rows', 600)

# -*- encoding: utf-8 -*-
%matplotlib inline

In [3]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [4]:
def get_table(filename):
    if os.path.isfile(filename):
        df = pd.read_csv(filename, index_col='Date', parse_dates=True, header=3)
        return df

In [5]:
# Date,High,Low,Open,Close,Volume,Adj Close
def adj_columns(ts):

    ts.columns = ['High']
    ts['Low'] = ts['High']
    ts['Open'] = ts['High']
    ts['Close'] = ts['High']
    ts['Volume'] = 0
    ts['Adj Close'] = ts['High']
    return ts

In [6]:
filename = 'DJA-orig.csv'
ts = get_table(filename)
ts = adj_columns(ts)
ts.head()

                        High      Low     Open    Close  Volume  Adj Close
Date
1885-05-02 00:00:00  31.4350  31.4350  31.4350  31.4350       0    31.4350
1885-05-04 00:00:00  30.6614  30.6614  30.6614  30.6614       0    30.6614
1885-05-05 00:00:00  30.5087  30.5087  30.5087  30.5087       0    30.5087
1885-05-06 00:00:00  30.8240  30.8240  30.8240  30.8240       0    30.8240
1885-05-07 00:00:00  30.5038  30.5038  30.5038  30.5038       0    30.5038

In [7]:
ts.to_csv('DJA.csv')